@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";

}

body {
  font-size: 0.88rem;
  font-family: "Merriweather", "sans-serif";
 background: #000000;
  color: #efeef3;
  margin-left: 10%;
  margin-right: 10%;
}

#portfolio {
  display: flex;
  width: 100%;
}

#apresentacao {
  display: flex;
  flex-direction: column;


}


.profile_subtitulo{
  font-size: 1.2rem;
  font-weight: 700;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px 40px 10px 40px;
  border: 4px;
  border-radius: 10px;
  border: 2px solid #22d4fd;
  padding: 20px;
  /*   box-shadow: 4px 4px 4px 2px rgba(126, 124, 124, 0.2); */  
  height: 300px;
  
}

#profile img {
  width: 128px;
  height: 127px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid #22d4fd;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  margin: 30px 40px 10px 40px;
  border: 4px;
  border-radius: 10px;
  width: 348px;
  height: 292px;
  border: 2px solid #22d4fd;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);

}

#links a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  align-items: center;
  gap: 10px;
}







#tecnologias {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  margin: 30px 40px 10px 40px;
  border: 4px;
  border-radius: 10px;
  width: 348px;
  height: 292px;
  border: 2px solid #22d4fd; 
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
}

#tecnologias p{
  font-weight: 700;
}
#tecnologias .titulo{
  font-size: 1.25rem;
}

#tecnologias ul li {
  list-style-type: none;
  margin: 12px;
  

}

#tecnologias li {
  border: 15px;
  border-radius: 8px;
  background:#22d4fd;
  width: 100px;
  text-align: center;

}

#tecnologias p{
  margin: 10px 40px 10px 20px;

} 

#experiencias {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 30px 40px 10px 40px;
  width: 348px;
  height: 292px;
  border-radius: 10px;
  border: 2px solid #22d4fd;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
}

#experiencias .titulo{
  font-weight: 700;
  font-size: 1.25rem;
}

#experiencias p{
  margin: 20px 40px 10px 20px;

}

#educacao {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  margin: 30px 40px 10px 40px;
  border-radius: 10px;
  width: 348px;
  height: 292px;
  border: 2px solid #22d4fd;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
}


#educacao .titulo{
  font-weight: 700;
  font-size: 1.25rem;

}

#links .localizacao{
  font-size: 1.25rem;
  font-weight: 700;
}

#educacao p {
  margin: 10px 40px 10px 20px;

  
}


#portfolio2{
  width: 100%;

}

#meusprojetos {
  display: flex;
  width: 100%;
  height: 50x;
  flex-shrink: 0;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
  border: 10px;
  margin: 20px 40px 0px 10px;
  border-radius: 10px;
  border: 2px solid #22d4fd;
  justify-content: space-between;
  padding: 20px;
  

}

#meusprojetos a{
color: #ffffff;
text-decoration: none;
font-weight: 700;


}


.programacao{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
  row-gap: 17px

}

#projeto{
  display: flex;
  width: 98%;
  align-items: left;
  height: 195px;
  flex-shrink: 0;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
  border: 10px;
  margin: 20px 20px 10px 20px;
  border-radius: 10px;
  border: 2px solid #22d4fd;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;

}

#projeto a {
  color: #efeef3;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.25rem;
}

#projetositens a{
  display: flex;  
  margin-right: 10px;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  font-weight: 700;

}


#projeto p{
position: top;
font-size: 0.96rem;


}

#profile:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;
}
#links:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}

#tecnologias:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}
#experiencias:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}
#educacao:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}
#meusprojetos:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}
#projeto:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}

#projetositens a:hover{
  color: white;
  transition: color 0.3s ease;
}

#projeto #linguagem{
  font-size: 0.88rem;
}

footer{
  display: flex;
  text-align: center;
  justify-content: center; 
  bottom: 0;
}

footer p{
  text-align: center;
 

}





@media only screen and (max-width: 1024px) {


  
  body {
  
    font-size: 1rem; 
    justify-content: center;
  }

  #portfolio {
    flex-direction: column;
    width: 88%;
    align-items: center;
    justify-content: center;
   
  }

  #portfolio2 {
    display: flex;
    width: 88%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }

  #profile {
    width: 94%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
  }

  #links,
  #tecnologias,
  #experiencias,
  #educacao,
  #meusprojetos,
  #projeto {
    width: 95%;
    margin: 5px;
  }

  
  .programacao {
    grid-template-columns: 1fr;
    width: 95%;
    align-items: center;
    justify-content: center;
  }

   #meusprojetos {
    display: flex;
    width: 290px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 18%;
  }
 
  #programacao {
    height: auto;
 
    

  }


  footer p{
    text-align: center;
    margin-top: 10%;
   
  
  }
}
