* {
  margin: 0;
  padding: 0;

}

body {
  font-size: 18px;
  font-family: Merriweather Sans;
/*   display: flex;
 */  background: #22212C;
  color: #837E9F;
  margin-left: 10%;
  margin-right: 10%;
}

/*  */

#portfolio {
  display: flex;
  width: 100%;
}

#apresentacao {
  display: flex;
  flex-direction: column;


}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px 40px 10px 40px;
  border: 4px;
  border-radius: 20px;
  background: #302F3D;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
  height: 300px;
}

#profile img {
  width: 128px;
  height: 127px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid #1cf608;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  margin: 30px 40px 10px 40px;
  border: 4px;
  border-radius: 20px;
  width: 348px;
  height: 292px;
  background: #302F3D;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);

}

#links a {
  color: #837E9F;
  text-decoration: none;
}





#tecnologias {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  margin: 30px 40px 10px 40px;
  border: 4px;
  border-radius: 20px;
  width: 348px;
  height: 292px;
  background: #302F3D;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
}

#tecnologias ul li {
  list-style-type: none;
  margin: 12px;
  

}

#tecnologias li {
  border: 15px;
  border-radius: 8px;
  background: rgb(188, 163, 163);
  width: 100px;
  text-align: center;

}

#tecnologias p{
  margin: 10px 40px 10px 20px;

} 

#experiencias {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 30px 40px 10px 40px;
  border-radius: 20px;
  width: 348px;
  height: 292px;
  background: #302F3D;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
}

#experiencias p{
  margin: 20px 40px 10px 20px;
}

#educacao {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  margin: 30px 40px 10px 40px;
  border-radius: 20px;
  width: 348px;
  height: 292px;
  background: #302F3D;
  padding: 20px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
}

#educacao p {
  margin: 10px 40px 10px 20px;
  
}


#portfolio2{
  width: 100%;

}

#meusprojetos {
  display: flex;
  width: 100%;
  height: 50x;
  flex-shrink: 0;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  border: 10px;
  margin: 20px 40px 0px 10px;
  background: #302F3D;
  justify-content: space-between;
  padding: 20px;
  

}

#meusprojetos a{
color: #837E9F;
text-decoration: none;

}


.programacao{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
  row-gap: 17px

}

#projeto{
  display: flex;
  width: 98%;
  align-items: left;
  height: 195px;
  flex-shrink: 0;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  border: 10px;
  margin: 20px 20px 10px 20px;
  background: #302F3D;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

#projeto a {
  color: #837E9F;
  text-decoration: none;
}

#projetositens a{
  display: flex;  
  margin-right: 10px;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}


#projeto p{
position: top;}

#profile:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;
}
#links:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}

#tecnologias:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}
#experiencias:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}
#educacao:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}
#meusprojetos:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}
#projeto:hover{
  background: rgb(88, 87, 87);
  color: white;
  transition: color 0.3s ease;


}

#projetositens a:hover{
  color: white;
  transition: color 0.3s ease;
}

#projeto #linguagem{
  font-size: 14px;
}



footer{
  display: flex;
  text-align: center;
  justify-content: center; 
  bottom: 0;
}

footer p{
  text-align: center;

}

@media only screen and (max-width: 480px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px; 
    justify-content: center;
  }

  #portfolio {
    flex-direction: column;
   
  }

  #apresentacao,
  #portfolio2 {
    width: 95%;
  }

  #profile {
    width: 94%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
  }

  #links,
  #tecnologias,
  #experiencias,
  #educacao,
  #meusprojetos,
  #projeto {
    width: 95%;
    margin: 5px;
  }

  
  .programacao {
    grid-template-columns: 1fr;
  }

  #meusprojetos {
    flex-direction: row;
    align-items: center;
  }

  #projeto {
    height: auto;
  }
}
